/* body {
  background-image: url("img/profile-purple background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
} */

#body {
  background-image: linear-gradient(rgb(247, 235, 63), rgb(255, 255, 255));
  /* background-color: #f7ea3f8f; */
  color: rgba(18, 9, 59, 0.89);
  height: 100vh;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600 !important;
  /* font-size: 48px !important; */
  letter-spacing: 4px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
  margin-bottom: -10px !important;
  /* margin: 20vh 0 0 0vw !important; */
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  font-size: 10vw !important;
  letter-spacing: 3px;
}

#root > div > div > div.container > div.justify-content-md-center.row > div.col-sm-3 > h2 {
  text-align: center;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600 !important;
  letter-spacing: 2px;
  margin: 25vh 0 0 0vw !important;
}

#title {
  padding-top: 20%;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400 !important;
  letter-spacing: 2px;
  margin-left: 2%;
}

#root > div > header > nav > nav {
  background-color: rgb(247, 235, 63) !important;
  color: rgb(18, 9, 59);
  padding: 20px 45px 5px 50px;
}

#basic-navbar-nav > div:nth-child(2) {
  padding-left: 10px;
}

.spacer {
  padding: 80px
}

.wide-img {
  width: 100%;
}

svg {
  padding: 20px;
  color: rgba(18, 9, 59, 0.651);

}
svg:hover {
  transform: scale(0.9);
  color: rgba(5, 107, 90, 0.918);
}

#footer > div:nth-child(3) {
  position: fixed;
  bottom: 30px;
  right: 210px;
}
#footer > div:nth-child(2) {
  position: fixed;
  bottom: 30px;
  right: 140px;
}
#footer > div {
  /* background-color: rgba(85, 107, 47, 0.219); */
  position: fixed;
  bottom: 30px;
  right: 80px;
}
/*
#root > div > div > div.container > div:nth-child(7) > div.col-lg-4 {
} */

#root > div > div > div.container > div:nth-child(7) > div.col-lg-8 {
  order: 2;
}

img {
  border-radius: 50%;
  width: 90%;
  margin-bottom: 10px;
}
/* screens bigger than 700 */
@media only screen and (min-width: 700px) {
  h2 {
    font-size: 6.5vw !important;
  }
  h1 {
    font-size: 6.5vw !important;
}
  p {
    font-size: 20px !important;
  }

  h3 {
    font-size: 4.5vw !important;
  }

}



/* screens smaller than 500 */
@media only screen and (max-width: 500px) {
  h2 {
    font-size: 10vw !important;
  }
  h1 {
    font-size: 11vw !important;
}
  p {
    font-size: 2.5vw !important;
  }

  h3 {
    font-size: 13vw !important;
  }

  img {
    width: 50%;
    margin: 0px 0px 5px 20vw;
  }
}
